@using ContactUs.Models
@model IEnumerable<Ticket>
@{
    ViewBag.Title = "Browse";
}
@{
    ViewBag.Title = "Browse";
}

<h2>Browse Tickets</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Last Act. Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td><code>@t.Id</code></td>
                <td>@t.Title</td>
                <td>@t.LastActivityDate</td>
                <td>@t.Status</td>
                <td>
                    @using (Html.BeginForm("ChangeStatus", "ContactUs", new { id = t.Id }))
                    {
                        <button class="btn btn-default" disabled="@(!t.IsAcceptable)" name="toStatus" value="Accepted">
                            Accept
                        </button>
                        <button class="btn btn-default" disabled="@(!t.IsCloseable)" name="toStatus" value="Closed">
                            Close
                        </button>
                        <button class="btn btn-default" disabled="@(!t.IsRejectable)" name="toStatus" value="Rejected">
                            Reject
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>